@import "tailwindcss";

:root {
  --background: #FCF5E5;
  --foreground: #463C22;
  --green: #5C8538;
  --white: #FCFAF1;
  --pure-white: #FFFFFF;
  --dark-brown: #463C22;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-xiangcui: var(--font-xiangcui-song);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-xiangcui-song);
}

button {
  cursor: pointer;
}

.btn {
  width: fit-content;
  padding: 1.1111vh 1.6667vw;
  /* 12px 24px */
  margin: auto;
  border-radius: 1.25vw;
  /* 18px */
  font-size: 1.2vw;
}

.btn--primary {
  background: var(--green);
  color: var(--white);
  box-shadow: 0 0.3704vh 0.5556vw rgba(0, 0, 0, 0.25);
  /* 0 4px 8px */
}

.btn--secondary {
  background: var(--pure-white);
  color: var(--dark-brown);
  box-shadow: 0 0.3704vh 0.5556vw rgba(0, 0, 0, 0.25);
  /* 0 4px 8px */
}

.btn--red {
  
}


.chara-board {
  background: radial-gradient(157.36% 157.36% at 50% 50%, rgba(224, 197, 153, 0) 0%, #AE8B52 100%), #FDE897;
  box-shadow: 0 0.3704vh 0.8333vw rgba(0, 0, 0, 0.25);
  /* 0 4px 12px */
  border-radius: 1.7361vw;
  /* 25px */
  aspect-ratio: 1080 / 768;
  container-type: inline-size;
  height: 85vh;

  & .card-name {
    font-size: 3.33cqw;
  }
}

.chara-buttons {
  position: absolute;
  bottom: 5%;
  margin: auto;
  & h4 {
    letter-spacing: 15%;
  }

}