@import "tailwindcss";

:root {
  --background: #FCF5E5;
  --foreground: #463C22;
  --green: #5C8538;
  --white: #FCFAF1;
  --pure-white: #FFFFFF;
  --dark-brown: #463C22;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-xiangcui: var(--font-xiangcui-song);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

.btn {
  width: fit-content;
  padding: 12px 24px;
  margin: auto;
  border-radius: 18px;
}
.btn--primary {
  background: var(--green);
  color: var(--white);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.btn--secondary {
  background: var(--pure-white);
  color: var(--dark-brown);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}


.card {
  aspect-ratio: 250/660;
  max-width: 250px;
  width: 100%;
  /* width: 250px; */
  background: var(--white);
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  overflow: hidden;

}
.card-name {
  font-size: 64px;
  font-family: var(--font-xiangcui-song), serif;
  letter-spacing: 15%;
  height: 100%;
  padding-bottom: 20px;
}

.card-mark--selected {
  position: absolute;
  top: 6%;
  right: 6%;
  width: 8%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #E53935;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
.card-mark--active {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-family: var(--font-xiangcui), serif;
  font-size: 3.33cqw;
  letter-spacing: 15%;
  writing-mode: vertical-rl;
}

.chara-board {
  background: radial-gradient(157.36% 157.36% at 50% 50%, rgba(224, 197, 153, 0) 0%, #AE8B52 100%), #FDE897;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  aspect-ratio: 1080 / 768;
  container-type: inline-size;
  height: 85vh;

  & .card-name {
    font-size: 3.33cqw;
  }
}
.chara-buttons {
  position: absolute;
  bottom: 5%;
  margin: auto;
}